<footer class="py-8 text-center text-sm text-zinc-600">
    <div class="space-x-4">
      <a href="/privacy" class="hover-link">
        Privacy
      </a>
      <a href="/terms" class="hover-link">
        Terms
      </a>
      <span>Built with ❤️</span>
    </div>
  </footer>