---
import { LayoutGrid } from "lucide-astro";
---

<a href="/">
  <div class={"flex items-center gap-2"}>
    <div class="p-1.5">
      <LayoutGrid class="w-5 h-5 text-indigo-600 dark:text-indigo-400" />
    </div>
    <span class="text-lg text-zinc-900 dark:text-white font-semibold">
      Kaneo
    </span>
  </div>
</a>
