---
import Sidebar from "@/components/sidebar.astro";
import { Rocket } from "lucide-astro";
import Layout from "./layout.astro";

const menuItems = [
    {
        section: "Getting Started",
        icon: Rocket,
        items: [{ title: "Quick Start", href: "/docs/quick-start" }],
    },
];
---

<Layout>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex-1 flex flex-col lg:flex-row pt-16">
            <Sidebar menuItems={menuItems} />

            <main class="flex-1 min-w-0 py-6 lg:px-8">
                <article class="prose prose-zinc dark:prose-invert max-w-none">
                    <slot />
                </article>
            </main>
        </div>
    </div>
</Layout>
